# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_ZX_LEFT
    def_bool $(shields_list_contains,splitkb_zx_left)

config SHIELD_ZX_RIGHT
    def_bool $(shields_list_contains,splitkb_zx_right)
